Repository tuat-static-syllabus/tuat-static-syllabus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --print-width 200 --write

fix
  src/scraper.mjs
Due: eslint

Update dependency @babel/core to v7.17.7
  package-lock.json
  package.json
Due: prettier --print-width 200 --write

simplify
  .husky/pre-commit
  package.json
  src/scraper.mjs
Due: eslint, prettier --print-width 200 --write

no longer needed anymore
  cachemiss.diff
Due: none

resume info editor
  argv.js
  src/edit_resume.mjs
  src/reset_resume.mjs
Due: eslint

wip
  src/generate_pages.mjs
Due: eslint

Update dependency @babel/core to v7.17.8
  package-lock.json
  package.json
Due: prettier --print-width 200 --write

fix english support and add english
  src/scraper.mjs
Due: eslint

oops
  src/scraper.mjs
Due: eslint

fix bogus data fill
  src/scraper.mjs
Due: eslint

Update dependency prettier to v2.6.1
  package-lock.json
  package.json
Due: prettier --print-width 200 --write

Update dependency lint-staged to v12.3.7
  package-lock.json
  package.json
Due: prettier --print-width 200 --write

add language data
  package-lock.json
  src/generate_pages.mjs
  src/page_langs.json
Due: eslint, prettier --print-width 200 --write

Update dependency eslint to v8.12.0
  package-lock.json
  package.json
Due: prettier --print-width 200 --write

https://github.com/Lesmiscore/tuat-static-syllabus-template/commit/7b7d5fa763f3c9ea1c3ecf06c05f342720f5ad96
  src/generate_pages.mjs
  src/page_langs.json
  src/scraper.mjs
Due: eslint, prettier --print-width 200 --write

generate subject data
  src/generate_pages.mjs
Due: eslint

untested generator
  .gitignore
  src/generate_pages.mjs
  src/page_langs.json
Due: eslint, prettier --print-width 200 --write

fix
  src/generate_pages.mjs
  src/page_langs.json
Due: eslint, prettier --print-width 200 --write

change
  package-lock.json
  package.json
  src/generate_pages.mjs
Due: eslint, prettier --print-width 200 --write

wip
  build_pages.sh
  src/generate_pages.mjs
Due: eslint

generate selection page
  build_pages.sh
  src/generate_pages.mjs
  src/page_langs.json
Due: eslint, prettier --print-width 200 --write

wip
  src/generate_pages.mjs
  src/page_langs.json
Due: eslint, prettier --print-width 200 --write

fix
  src/generate_pages.mjs
Due: eslint

fully render subject list
  src/generate_pages.mjs
Due: eslint

fill README
  README.md
Due: none

add permalink
  src/generate_pages.mjs
Due: eslint

add workflow
  .github/workflows/generate_pages.yml
  argv.js
  src/generate_pages.mjs
Due: eslint

change ordering of things
  .github/workflows/generate_pages.yml
Due: none

using direct script
  .github/workflows/generate_pages.yml
Due: none

add error recovery
  .github/workflows/generate_pages.yml
Due: none

wtf
  .github/workflows/generate_pages.yml
  src/generate_pages.mjs
Due: eslint

compress files for artifacts
  .github/workflows/generate_pages.yml
Due: none

do not emit selection without matching results
  src/generate_pages.mjs
Due: eslint

fix README
  README.md
Due: none

add options for easy configuration of scraper
  package-lock.json
  package.json
  src/options_test.js
  src/scraper.mjs
Due: eslint, prettier --print-width 200 --write

add automated scraper workflow
  .github/workflows/generate_pages.yml
  .github/workflows/scrape.yml
Due: none

generate pages after auto scrape
  .github/workflows/generate_pages.yml
  .github/workflows/scrape.yml
Due: none

fix release name to include time
  .github/workflows/scrape.yml
Due: none

minus 3 months for better behavior
  src/scraper.mjs
Due: eslint

Path conditions:
  eslint: any of: *.{m,}js
  prettier --print-width 200 --write: any of: *.json
