Repository tuat-static-syllabus/tuat-static-syllabus: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --print-width 200 --write

fix
  .github/workflows/scrape.yml
Due: none

return non-zero on error
  src/scraper.mjs
Due: eslint

allow changing language
  src/scraper.mjs
Due: eslint

split into ja+en as it seems each doesn't finish within 6hrs
  .github/workflows/scrape.yml
  misc/ci_hotoke.sh
Due: none

fix predicate for academic year
  src/scraper.mjs
Due: eslint

utils
  src/dbjoiner.mjs
  src/generate_pages.mjs
  src/reset_resume.mjs
  src/scraper.mjs
  src/utils.mjs
Due: eslint

support odd/even pages
  package-lock.json
  package.json
  src/scraper.mjs
Due: eslint, prettier --print-width 200 --write

specify language for output HTMLs
  src/generate_pages.mjs
Due: eslint

joiner
  src/dbjoiner.mjs
  src/edit_resume.mjs
  src/utils.mjs
Due: eslint

update workflow
  .github/workflows/scrape.yml
Due: none

Update scrape.yml
  .github/workflows/scrape.yml
Due: none

extended page detection
  src/scraper.mjs
Due: eslint

fix
  src/scraper.mjs
Due: eslint

change algo
  src/scraper.mjs
Due: eslint

no overrun
  src/scraper.mjs
Due: eslint

allow estimated pages to shrink for extended
  src/scraper.mjs
Due: eslint

slice on runtime
  src/dbjoiner.mjs
Due: eslint

reverted extend modification
  src/scraper.mjs
Due: eslint

fix
  .github/workflows/scrape.yml
  src/dbjoiner.mjs
Due: eslint

add stacktrace to openDB error
  src/utils.mjs
Due: eslint

stop opening databases in parallel
  src/dbjoiner.mjs
Due: eslint

Path conditions:
  eslint: any of: *.{m,}js
  prettier --print-width 200 --write: any of: *.json
